.css-109y7ei a[href="https://dune.com/defimochi/plutus-metrics"] {
  display: none !important;
}
.css-1x91xg9 {
  display: none !important;
}

#walletconnect-qrcode-modal {
  display: none !important;
}

